/* id tags (denoted with #) */

/* classes (denoted with .) */

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
} 

header, nav, section, aside, footer {
    background: #ebebeb;
    padding: 20px;
    margin: 20px;
}

.headings, p {
    background: #ebebeb;
    color: #777;
}

.container {
    margin: 0 auto;
    height: 400px;
}

.article {
    color: #ebebeb;
    background: #777;
    padding: 10px;
}

#aside {
    width: 305px;
    float: left;
    height: 100%;
}

#section {
    width: 495px;
    float: left;
    height: 100%;
}

footer {
    clear: both
}
